
    * {box-sizing: border-box;}
    body {font-family: Verdana, sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    button
    {
      margin-top:20px;
      margin-bottom:40px;
      background-color:purple;
      border:3px solid red;
      padding:10px;
      border-radius:5px;
      background-image:url(shade1.jpg);
      background-repeat:repeat-x;
      animation:animate 15s linear infinite;
    }
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes animate{
      0%{
          background-position:left 0px top 10px;
      }
      40%{
          background-position:left 800px top 10px;
      }
  
  }
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h2{
        color:black;
        font-family:'Times New Roman', Times, serif;
    }
    a{
        text-align: center;
    }
    
    
    .cards{
        width:30%;
        height:80vh;
        background-color:white;
        border-radius:5px;
        margin:40px;
        float:left;
        padding: 16px;
        border-style: solid;
        border-color:lightpink;
        display:inline-block;
       
    }
    
    .cards:hover{
        box-shadow:2px 2px 10px blue;
    }
    .image img{
        width:100%;
        height:40vh;
        border-top-right-radius:5px;
        border-top-left-radius:5px;
    
    }
    .plagination{
      width:100%;
     float:left;
     
     text-align:center;
  }
  .plagination div{
      display:inline-block;
      text-align:center;
      margin-bottom:10px;
  }
  